<div class="container">

<br>
<hr>

<footer>
	<p>All rights must be questioned.</p>
</footer>
</div>
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>