
<header>
	<div class="header-container">
		<img id="logoimage" src="/logo.png" title="Chat logo" alt="Gear shaped site logo" />
		<div class="page-title">
			<h1>Socket chat</h1>
			<h2>{{subtitle}}</h2>
		</div>
		
		<div class="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				{{#if user}}
					<li><a href="/myspace">{{user.username}} Profile</a></li>
				{{/if}}

				
				<li><a href="/help">Help</a></li>
			</ul>
		</div>

	</div>
</header>

