{{> head}}
<body>
{{> header}}

 
<div class="container">

<h2>Hello, this is chat app, classic node.js developer pet-project.</h2>

<h3>Need help? </h3>

<ul>
    <li>
        <h4>In case of fire</h4>
        <p>Call 911</p>
    </li>
    <li>
        <h4>Wanna chat with a stranger?</h4>
        <p>Use chat app on main page</p>
    </li>
    <li>
        <h4>How to use chat app?</h4>
        <p>Fill in your preferable username, type some text and press ENTER. Your message will be publicly shown.</p>
    </li>
</ul>

</div>
<script src="/js/index.js" />
{{> footer}}
</body>