<!DOCTYPE html>
<html>
<head>
    <title>Socket Chat : {{ title }}</title>    
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css" >
    {% block head %}{% endblock %}
</head>

<body>
    <header class="header-container">
        <img id="logoimage" src="/static/logo.png" title="Chat logo" alt="Gear shaped site logo" />
		<div class="page-title">
			<h1>Socket chat</h1>
			<h2>{{ title }}</h2>
		</div>
		
		<nav class="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				{% if user %}
					<li><a href="/myspace">{{ user.username }} Profile</a></li>
				{% endif %}
				<li><a href="/help">Help</a></li>
			</ul>
		</nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>All rights.</p>
    </footer>
    <!-- <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script> -->
</body>
</html>