* {
    font-family: Ubuntu;
}

.chat-app {

    width: 800px;
    margin-left:20%;
}

.form-container {
    margin: 10px;
    padding: 5px;
}


.form-container > * {
    display: block;
    margin-bottom: 5px;
}

.form-container input {

}

.form-container textarea{
    width: 760px;
    height: 100px;
}

.form-container button{
    width: 200px;
}

.message-form * {
    display: block;
}

.message {
    background-color: #cec3ab;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}

#connection-status {
    font-size: 00.7em;
}

#connection-counter {
    font-size: 00.7em;
    color: indigo;
}

.red {
    color: darkred;
}

.green {
    color: green;
}